<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <img class="img-fluid" src= "{{url_for('static', filename='banner.jpeg')}}" height="1000px" id="banner">
        <h2 class="text-center mt-2 mb-4">About</h2>
        <p class="lead">Fusce consequat efficitur ex. Pellentesque blandit iaculis sem pretium facilisis. Suspendisse scelerisque libero lacus, ac pharetra nunc suscipit quis. Suspendisse aliquet magna quis risus convallis, vel ultrices nulla mattis. Maecenas placerat sem nibh, vitae vehicula dui mattis nec. Etiam nec libero turpis. In feugiat nunc in est ultricies, vitae sodales ex dictum. Nunc condimentum, eros vel ullamcorper hendrerit, tortor elit fermentum velit, sit amet tincidunt dui justo sit amet nibh.
        </p>
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <div>
            {% for job in jobs %}
                {% include 'job_item.html'%}
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact us</button>
        </div>
        <p class="text-center p-2 bg-light border">Copyright 2023, Aang</p>
    </div>
</body>
</html>